/* src/index.css */

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Tailwind v4 */
@import "tailwindcss";

/* Material Symbols Fix */
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;

  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

@theme {
  /* Colors */
  --color-surface-dim: #cbdbf5;
  --color-on-primary: #ffffff;
  --color-surface-container-high: #dce9ff;
  --color-secondary-fixed: #c9e6ff;
  --color-on-tertiary-fixed-variant: #773205;
  --color-on-secondary-fixed: #001e2f;
  --color-outline-variant: #c5c5d3;
  --color-primary: #00236f;
  --color-tertiary-fixed-dim: #ffb691;
  --color-on-secondary-fixed-variant: #004c6e;
  --color-primary-container: #1e3a8a;
  --color-on-tertiary-fixed: #341100;
  --color-on-primary-fixed-variant: #264191;
  --color-on-primary-fixed: #00164e;
  --color-on-tertiary-container: #f39461;
  --color-surface-container: #e5eeff;
  --color-on-secondary-container: #004666;
  --color-on-background: #0b1c30;
  --color-primary-fixed-dim: #b6c4ff;
  --color-on-secondary: #ffffff;
  --color-error-container: #ffdad6;
  --color-tertiary-container: #6e2c00;
  --color-surface-container-lowest: #ffffff;
  --color-on-error-container: #93000a;
  --color-tertiary: #4b1c00;
  --color-surface-container-low: #eff4ff;
  --color-surface: #f8f9ff;
  --color-inverse-primary: #b6c4ff;
  --color-on-surface-variant: #444651;
  --color-tertiary-fixed: #ffdbcb;
  --color-secondary-container: #39b8fd;
  --color-on-surface: #0b1c30;
  --color-primary-fixed: #dce1ff;
  --color-background: #f8f9ff;
  --color-surface-bright: #f8f9ff;
  --color-outline: #757682;
  --color-surface-container-highest: #d3e4fe;
  --color-on-tertiary: #ffffff;
  --color-surface-tint: #4059aa;
  --color-secondary: #006591;
  --color-on-error: #ffffff;
  --color-on-primary-container: #90a8ff;
  --color-inverse-on-surface: #eaf1ff;
  --color-surface-variant: #d3e4fe;
  --color-secondary-fixed-dim: #89ceff;
  --color-error: #ba1a1a;
  --color-inverse-surface: #213145;

  /* Radius */
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  /* Spacing */
  --spacing-margin: 32px;
  --spacing-lg: 24px;
  --spacing-unit: 8px;
  --spacing-xl: 32px;
  --spacing-gutter: 24px;
  --spacing-sm: 8px;
  --spacing-xs: 4px;
  --spacing-md: 16px;

  /* Fonts */
  --font-sans: "Inter", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-goldman: "Goldman", sans-serif;

  --font-numeral-xl: "Inter", sans-serif;
  --font-label-md: "Inter", sans-serif;
  --font-h1: "Inter", sans-serif;
  --font-h2: "Inter", sans-serif;
  --font-h3: "Inter", sans-serif;
  --font-body-md: "Inter", sans-serif;
  --font-body-sm: "Inter", sans-serif;
  --font-body-lg: "Inter", sans-serif;
  --font-display-lg: "Inter", sans-serif;

  /* Font sizes */
  --text-numeral-xl: 36px;
  --text-label-md: 12px;
  --text-h1: 32px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-body-md: 16px;
  --text-body-sm: 14px;
  --text-body-lg: 18px;
  --text-display-lg: 48px;
}

/* Global Base Style */
html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
   color: var(--color-on-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
